<!DOCTYPE html>
<html>

<head>
  <title>HTML Forms</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/forms/styles.css') }}">
</head>

<body>
  <h1>Forms</h1>
  <h3>Links</h3>
  <a id="links" href={{url_for("home")}}>Home Page</a>
  <a id="links" href={{url_for("profile")}}>Profile</a>
  <p>Add your details:</p>

  <form action="">
    
    <form class="loginInfo">
      Name:<br />
      <input type="text" id="name" placeholder="Name" class="input" />



      <br>
      Phone Number:<br> <input type="text" id="number" placeholder="Number" class="input">
      <br>

      Age:<br> <input type="text" id="age" placeholder="Age" class="input">

      <br>
      <label for="country">Country: <br></label>
      <select id="country" name="country" class="input" aria-placeholder="Country...">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
        <option value="uk">UK</option>
        <option value="france">France</option>
      </select>
         <br> <br> <button type="button" onclick="displayAge(), displayName(), displayNumber(),  displayCountry()" class="submit_button">Submit</button>
    </form>
  </form>





  <script>


    var name, age, number, country;
    function displayName() {
      name = document.getElementById("name").value;
      localStorage.setItem("name", name);
      console.log(name)

    }
    function displayNumber() {
      number = document.getElementById("number").value;
      console.log(number)
    }
    function displayAge() {
      age = document.getElementById("age").value;
      console.log(age)
    }
    function displayCountry() {
      country = document.getElementById("country").value;
      console.log(country)
    }


    localStorage.setItem("username", `${name}`);
    localStorage.setItem("number", `${number}`);
    localStorage.setItem("age", `${age}`);
    localStorage.setItem("country", `${country}`);
  </script>




</body>

</html>