<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index/styles.css') }}">
  <title>Home</title>
</head>

<body>
  
  <h1 class="Template">Template Website</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque tempore cupiditate sapiente illo exercitationem laudantium accusantium ipsam magnam officia beatae dolor quia, commodi inventore accusamus natus praesentium vero ducimus quasi?
    </p>
  <h2>Links</h1>
  <div class="links">
    <a href={{url_for("form")}}> Forms </a>
    <a href={{url_for("home")}}> Home Page </a>
    <a href={{url_for("profile")}}> Profile </a>
  </div>

  <script></script>
</body>

</html>