body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/006/852/804/original/abstract-blue-background-simple-design-for-your-website-free-vector.jpg");

}

a {
    color: rgba(255, 255, 0, 0.932);
    text-decoration: none;
}

a:hover {
    color: rgb(224, 120, 9);
    text-decoration: underline;
}

p {
    color: rgb(255, 255, 0);
    text-align: center;
    margin: auto;
    width: 640px;
    padding: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 6j0px;
    font-style: italic;
}

h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #0ee419, #1cff08);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

img {
    border-radius: 15px 50px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
    text-align: right;
}

p {
    
    font: initial;
}